openapi: 3.2.0
info:
  contact:
    email: hey@slide.tech
    name: Slide Team
    url: https://docs.slide.tech
  description: '## Introduction

    The Slide API is organized around REST.'
  title: Slide Backups API
  version: 1.34.0
servers:
- url: https://api.slide.tech
security:
- BearerAuth: []
tags:
- description: Everything about backups
  name: Backups
paths:
  /v1/backup:
    get:
      description: 'Returns a paginated list of backups.


        Backup record history details:

        - The last 10 backups will always be available.

        - Successful backups are removed when the related snapshot is removed.

        - Unsuccessful backups older than 30 days are removed.'
      operationId: Backups
      parameters:
      - $ref: '#/components/parameters/QueryAgentID'
      - $ref: '#/components/parameters/QuerySnapshotID'
      - $ref: '#/components/parameters/QueryDeviceID'
      - $ref: '#/components/parameters/QueryOffset'
      - $ref: '#/components/parameters/QueryLimit'
      - $ref: '#/components/parameters/QueryBackupStartedAfter'
      - $ref: '#/components/parameters/QueryBackupStartedBefore'
      - $ref: '#/components/parameters/QueryBackupEndedAfter'
      - $ref: '#/components/parameters/QueryBackupEndedBefore'
      - description: Sort by a specific field
        in: query
        name: sort_by
        schema:
          default: start_time
          enum:
          - id
          - start_time
          type: string
      - $ref: '#/components/parameters/QuerySortAsc'
      responses:
        '200':
          content:
            application/json:
              schema:
                description: Paginated response
                properties:
                  data:
                    description: List of backups
                    items:
                      $ref: '#/components/schemas/Backup'
                    title: Backups
                    type: array
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                required:
                - pagination
                - data
                title: Paginated response
                type: object
          description: OK
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      summary: List backups
      tags:
      - Backups
    post:
      operationId: BackupStart
      requestBody:
        content:
          application/json:
            example: "{\n  \"agent_id\": \"a_0123456789ab\"\n}"
            schema:
              properties:
                agent_id:
                  $ref: '#/components/schemas/AgentID'
              required:
              - agent_id
        required: true
      responses:
        '202':
          content:
            application/json:
              schema:
                properties:
                  backup_id:
                    $ref: '#/components/schemas/BackupID'
                required:
                - backup_id
          description: Accepted
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '500':
          $ref: '#/components/responses/500'
      summary: Start backup
      tags:
      - Backups
  /v1/backup/{backup_id}:
    get:
      operationId: BackupByID
      parameters:
      - $ref: '#/components/parameters/PathBackupID'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Backup'
          description: OK
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      summary: Get backup
      tags:
      - Backups
components:
  parameters:
    QueryBackupEndedBefore:
      description: Filter snapshots completed before a specific backup end time (RFC3339 format)
      in: query
      name: backup_ended_before
      schema:
        format: date-time
        type: string
    QuerySnapshotID:
      in: query
      name: snapshot_id
      schema:
        $ref: '#/components/schemas/SnapshotID'
    QueryBackupStartedAfter:
      description: Filter snapshots created after a specific backup start time (RFC3339 format)
      in: query
      name: backup_started_after
      schema:
        format: date-time
        type: string
    QueryOffset:
      description: Starting index for pagination
      in: query
      name: offset
      schema:
        default: 0
        format: uint32
        minimum: 0
        type: integer
    QuerySortAsc:
      description: Sort in ascending order
      in: query
      name: sort_asc
      schema:
        default: false
        type: boolean
    QueryBackupEndedAfter:
      description: Filter snapshots completed after a specific backup end time (RFC3339 format)
      in: query
      name: backup_ended_after
      schema:
        format: date-time
        type: string
    QueryDeviceID:
      in: query
      name: device_id
      schema:
        $ref: '#/components/schemas/DeviceID'
    PathBackupID:
      example: b_0123456789ab
      in: path
      name: backup_id
      required: true
      schema:
        $ref: '#/components/schemas/BackupID'
    QueryLimit:
      description: Number of items to return for pagination
      in: query
      name: limit
      schema:
        default: 10
        format: uint32
        maximum: 50
        minimum: 1
        type: integer
    QueryBackupStartedBefore:
      description: Filter snapshots created before a specific backup start time (RFC3339 format)
      in: query
      name: backup_started_before
      schema:
        format: date-time
        type: string
    QueryAgentID:
      in: query
      name: agent_id
      schema:
        $ref: '#/components/schemas/AgentID'
  schemas:
    Backup:
      description: Backup object that represents a backup attempt that may have succeeded or failed.
      properties:
        agent_id:
          $ref: '#/components/schemas/AgentID'
        backup_id:
          $ref: '#/components/schemas/BackupID'
        ended_at:
          description: End time of the backup
          example: '2024-08-23T01:40:08Z'
          format: date-time
          type: string
        error_code:
          description: Error code of the backup
          externalDocs:
            description: See our console documentation for more information on backup error codes
            url: https://docs.slide.tech/backups/#common-errors
          format: uint32
          type: integer
        error_message:
          description: Human readable error message
          type: string
        snapshot_id:
          description: ID of the snapshot taken as part of the backup. If this field is not present, that indicates a snapshot was not taken.
          example: s_0123456789ab
          pattern: ^s_[a-z0-9]{12}$
          type: string
        started_at:
          description: Start time of the backup
          example: '2024-08-23T01:25:08Z'
          format: date-time
          type: string
        status:
          description: Status of the backup
          enum:
          - created
          - pending
          - started
          - preflight
          - contacting
          - creating_vss
          - preparing
          - transferring
          - snapshot
          - finalizing
          - canceling
          - failing
          - canceled
          - failed
          - succeeded
          example: succeeded
          type: string
      required:
      - backup_id
      - agent_id
      - started_at
      - status
      type: object
    Pagination:
      properties:
        next_offset:
          description: Next offset to use for pagination. If this field is not present, that indicates there are no more items to fetch.
          example: 10
          format: uint32
          type: integer
      type: object
    SnapshotID:
      description: ID of a snapshot
      example: s_0123456789ab
      pattern: ^s_[a-z0-9]{12}$
      type: string
    Error:
      description: Error response object that represents an error that occurred during a request.
      properties:
        codes:
          description: List of error codes that occurred during a request.
          items:
            description: A unique error code that identifies the error.
            title: Code
            type: string
          title: Codes
          type: array
        details:
          description: List of error details that occurred during a request. This may contain action(s) that need to be taken before retrying the request.
          items:
            description: Short detail message describing the error.
            title: Detail
            type: string
          title: Details
          type: array
        message:
          description: Short message describing the error.
          title: Message
          type: string
      required:
      - codes
      - message
      - details
    BackupID:
      description: ID of a backup attempt
      example: b_0123456789ab
      pattern: ^b_[a-z0-9]{12}$
      type: string
    DeviceID:
      description: ID of a device
      example: d_0123456789ab
      pattern: ^d_[a-z0-9]{12}$
      type: string
    AgentID:
      description: ID of an agent
      example: a_0123456789ab
      pattern: ^a_[a-z0-9]{12}$
      type: string
  responses:
    '500':
      content:
        application/json:
          examples:
            err_internal_server_error:
              summary: Internal server error
              value:
                codes:
                - err_internal_server_error
                details:
                - Something went wrong processing your request. See https://docs.slide.tech/api/#description/errors for more information.
                message: internal server error
          schema:
            $ref: '#/components/schemas/Error'
      description: Internal server error
    '409':
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
      description: Conflict
    '401':
      content:
        application/json:
          examples:
            err_missing_authentication:
              summary: Missing API token
              value:
                codes:
                - err_missing_authentication
                details:
                - 'You did not provide an API token. You need to provide your API token in the Authorization header, using Bearer auth (e.g. ''Authorization: Bearer YOUR_SECRET_TOKEN'').'
                message: unauthorized
            err_unauthorized:
              summary: Invalid API token
              value:
                codes:
                - err_unauthorized
                details:
                - Invalid API token provided or you do not have permission to access this resource.
                message: unauthorized
          schema:
            $ref: '#/components/schemas/Error'
      description: Unauthorized
    '404':
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
      description: Not found
    '400':
      content:
        application/json:
          examples:
            err_validation_error:
              summary: Validation error
              value:
                codes:
                - err_validation_error
                details:
                - 'parameter "device_id" in path has an error: string doesn''t match the regular expression "^d_[a-z0-9]{12}$"'
                message: bad request
          schema:
            $ref: '#/components/schemas/Error'
      description: Bad request
  securitySchemes:
    BearerAuth:
      bearerFormat: string
      scheme: bearer
      type: http
