openapi: 3.2.0
info:
  contact:
    email: hey@slide.tech
    name: Slide Team
    url: https://docs.slide.tech
  description: '## Introduction

    The Slide API is organized around REST.'
  title: Slide Alerts API
  version: 1.34.0
servers:
- url: https://api.slide.tech
security:
- BearerAuth: []
tags:
- description: Everything about alerts
  name: Alerts
paths:
  /v1/alert:
    get:
      operationId: Alerts
      parameters:
      - $ref: '#/components/parameters/QueryDeviceID'
      - $ref: '#/components/parameters/QueryAgentID'
      - $ref: '#/components/parameters/QueryResolved'
      - $ref: '#/components/parameters/QueryOffset'
      - $ref: '#/components/parameters/QueryLimit'
      - description: Sort by a specific field
        in: query
        name: sort_by
        schema:
          default: created
          enum:
          - created
          type: string
      - $ref: '#/components/parameters/QuerySortAsc'
      - $ref: '#/components/parameters/QueryCreatedAfter'
      - $ref: '#/components/parameters/QueryCreatedBefore'
      responses:
        '200':
          content:
            application/json:
              schema:
                description: Paginated response
                properties:
                  data:
                    description: List of alerts
                    items:
                      $ref: '#/components/schemas/Alert'
                    title: Alerts
                    type: array
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                required:
                - pagination
                - data
                title: Paginated response
                type: object
          description: OK
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      summary: List alerts
      tags:
      - Alerts
  /v1/alert/{alert_id}:
    get:
      operationId: AlertByID
      parameters:
      - $ref: '#/components/parameters/PathAlertID'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Alert'
          description: OK
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      summary: Get alert
      tags:
      - Alerts
    patch:
      operationId: AlertUpdate
      parameters:
      - $ref: '#/components/parameters/PathAlertID'
      requestBody:
        content:
          application/json:
            example: "{\n    \"resolved\": true\n}"
            schema:
              properties:
                resolved:
                  $ref: '#/components/schemas/Resolved'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Alert'
          description: OK
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      summary: Update alert
      tags:
      - Alerts
components:
  parameters:
    QueryResolved:
      in: query
      name: resolved
      schema:
        $ref: '#/components/schemas/Resolved'
    QueryOffset:
      description: Starting index for pagination
      in: query
      name: offset
      schema:
        default: 0
        format: uint32
        minimum: 0
        type: integer
    QuerySortAsc:
      description: Sort in ascending order
      in: query
      name: sort_asc
      schema:
        default: false
        type: boolean
    QueryDeviceID:
      in: query
      name: device_id
      schema:
        $ref: '#/components/schemas/DeviceID'
    QueryLimit:
      description: Number of items to return for pagination
      in: query
      name: limit
      schema:
        default: 10
        format: uint32
        maximum: 50
        minimum: 1
        type: integer
    QueryCreatedAfter:
      description: Filter results to after a specific creation timestamp (RFC3339 format)
      in: query
      name: created_after
      schema:
        format: date-time
        type: string
    QueryCreatedBefore:
      description: Filter results to before a specific creation timestamp (RFC3339 format)
      in: query
      name: created_before
      schema:
        format: date-time
        type: string
    PathAlertID:
      example: a_0123456789ab
      in: path
      name: alert_id
      required: true
      schema:
        $ref: '#/components/schemas/AlertID'
    QueryAgentID:
      in: query
      name: agent_id
      schema:
        $ref: '#/components/schemas/AgentID'
  schemas:
    ResolvedAt:
      description: Timestamp at which an alert was resolved
      example: '2024-08-23T01:25:08Z'
      format: date-time
      type: string
    ResolvedBy:
      description: Name of the person who resolved the alert, or "auto" if resolved automatically
      example: John Smith
      type: string
    Pagination:
      properties:
        next_offset:
          description: Next offset to use for pagination. If this field is not present, that indicates there are no more items to fetch.
          example: 10
          format: uint32
          type: integer
      type: object
    CreatedAt:
      description: Creation timestamp
      example: '2024-08-23T01:25:08Z'
      format: date-time
      type: string
    Alert:
      description: Alert object that represents an alert that has been triggered due to some condition.
      properties:
        agent_id:
          $ref: '#/components/schemas/AgentID'
        alert_fields:
          description: Unstructured fields specific to the alert type
          type: string
        alert_id:
          $ref: '#/components/schemas/AlertID'
        alert_type:
          description: Type of the alert
          enum:
          - device_not_checking_in
          - device_out_of_date
          - device_storage_not_healthy
          - device_storage_space_low
          - device_storage_space_critical
          - agent_not_checking_in
          - agent_not_backing_up
          - agent_backup_failed
          - agent_duplicate_connection
          example: device_not_checking_in
          type: string
        created_at:
          $ref: '#/components/schemas/CreatedAt'
        device_id:
          $ref: '#/components/schemas/DeviceID'
        resolved:
          $ref: '#/components/schemas/Resolved'
        resolved_at:
          $ref: '#/components/schemas/ResolvedAt'
        resolved_by:
          $ref: '#/components/schemas/ResolvedBy'
      required:
      - alert_id
      - alert_type
      - alert_fields
      - created_at
      - resolved
      type: object
    Error:
      description: Error response object that represents an error that occurred during a request.
      properties:
        codes:
          description: List of error codes that occurred during a request.
          items:
            description: A unique error code that identifies the error.
            title: Code
            type: string
          title: Codes
          type: array
        details:
          description: List of error details that occurred during a request. This may contain action(s) that need to be taken before retrying the request.
          items:
            description: Short detail message describing the error.
            title: Detail
            type: string
          title: Details
          type: array
        message:
          description: Short message describing the error.
          title: Message
          type: string
      required:
      - codes
      - message
      - details
    DeviceID:
      description: ID of a device
      example: d_0123456789ab
      pattern: ^d_[a-z0-9]{12}$
      type: string
    AgentID:
      description: ID of an agent
      example: a_0123456789ab
      pattern: ^a_[a-z0-9]{12}$
      type: string
    AlertID:
      description: ID of an alert
      example: al_0123456789ab
      pattern: ^al_[a-z0-9]{12}$
      type: string
    Resolved:
      description: Whether the alert has been resolved
      example: false
      type: boolean
  responses:
    '500':
      content:
        application/json:
          examples:
            err_internal_server_error:
              summary: Internal server error
              value:
                codes:
                - err_internal_server_error
                details:
                - Something went wrong processing your request. See https://docs.slide.tech/api/#description/errors for more information.
                message: internal server error
          schema:
            $ref: '#/components/schemas/Error'
      description: Internal server error
    '401':
      content:
        application/json:
          examples:
            err_missing_authentication:
              summary: Missing API token
              value:
                codes:
                - err_missing_authentication
                details:
                - 'You did not provide an API token. You need to provide your API token in the Authorization header, using Bearer auth (e.g. ''Authorization: Bearer YOUR_SECRET_TOKEN'').'
                message: unauthorized
            err_unauthorized:
              summary: Invalid API token
              value:
                codes:
                - err_unauthorized
                details:
                - Invalid API token provided or you do not have permission to access this resource.
                message: unauthorized
          schema:
            $ref: '#/components/schemas/Error'
      description: Unauthorized
    '404':
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
      description: Not found
    '400':
      content:
        application/json:
          examples:
            err_validation_error:
              summary: Validation error
              value:
                codes:
                - err_validation_error
                details:
                - 'parameter "device_id" in path has an error: string doesn''t match the regular expression "^d_[a-z0-9]{12}$"'
                message: bad request
          schema:
            $ref: '#/components/schemas/Error'
      description: Bad request
  securitySchemes:
    BearerAuth:
      bearerFormat: string
      scheme: bearer
      type: http
