openapi: 3.2.0
info:
  contact:
    email: hey@slide.tech
    name: Slide Team
    url: https://docs.slide.tech
  description: '## Introduction

    The Slide API is organized around REST.'
  title: Slide Users API
  version: 1.34.0
servers:
- url: https://api.slide.tech
security:
- BearerAuth: []
tags:
- description: Everything about users
  name: Users
paths:
  /v1/user:
    get:
      operationId: Users
      parameters:
      - $ref: '#/components/parameters/QueryOffset'
      - $ref: '#/components/parameters/QueryLimit'
      - description: Sort by a specific field
        in: query
        name: sort_by
        schema:
          default: id
          enum:
          - id
          type: string
      - $ref: '#/components/parameters/QuerySortAsc'
      - $ref: '#/components/parameters/QueryCreatedAfter'
      - $ref: '#/components/parameters/QueryCreatedBefore'
      responses:
        '200':
          content:
            application/json:
              schema:
                description: Paginated response
                properties:
                  data:
                    description: List of users
                    items:
                      $ref: '#/components/schemas/User'
                    title: Users
                    type: array
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                required:
                - pagination
                - data
                title: Paginated response
                type: object
          description: OK
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      summary: List users
      tags:
      - Users
  /v1/user/{user_id}:
    get:
      operationId: UserByID
      parameters:
      - $ref: '#/components/parameters/PathUserID'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
          description: OK
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      summary: Get user
      tags:
      - Users
  /v1/user/{user_id}/avatar:
    get:
      operationId: UserAvatarByID
      parameters:
      - $ref: '#/components/parameters/PathUserID'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Avatar'
          description: OK
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      summary: Get user avatar
      tags:
      - Users
components:
  schemas:
    User:
      description: User object that represents a user.
      properties:
        display_name:
          $ref: '#/components/schemas/DisplayName'
        email:
          description: Email address of the user
          example: john.doe@gmail.com
          format: email
          type: string
        first_name:
          description: First name of the user
          example: John
          type: string
        last_name:
          description: Last name of the user
          example: Doe
          type: string
        role_id:
          $ref: '#/components/schemas/RoleID'
        user_id:
          $ref: '#/components/schemas/UserID'
      required:
      - user_id
      - first_name
      - last_name
      - display_name
      - email
      - role_id
      type: object
    Pagination:
      properties:
        next_offset:
          description: Next offset to use for pagination. If this field is not present, that indicates there are no more items to fetch.
          example: 10
          format: uint32
          type: integer
      type: object
    RoleID:
      description: ID of a role
      enum:
      - r_account_owner
      - r_account_admin
      - r_account_bc_admin
      - r_account_bc_tech
      - r_account_readonly
      example: r_account_owner
      type: string
    UserID:
      description: ID of a user
      example: u_0123456789ab
      pattern: ^u_[a-z0-9]{12}$
      type: string
    Avatar:
      description: Avatar image for a user, encoded as a data URL.
      properties:
        avatar:
          description: Avatar image for a user, encoded as a data URL.
          example: data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAQAAAAEACAYAAABccqhmAAAg...
          format: uri
          type: string
      required:
      - avatar
      type: object
    Error:
      description: Error response object that represents an error that occurred during a request.
      properties:
        codes:
          description: List of error codes that occurred during a request.
          items:
            description: A unique error code that identifies the error.
            title: Code
            type: string
          title: Codes
          type: array
        details:
          description: List of error details that occurred during a request. This may contain action(s) that need to be taken before retrying the request.
          items:
            description: Short detail message describing the error.
            title: Detail
            type: string
          title: Details
          type: array
        message:
          description: Short message describing the error.
          title: Message
          type: string
      required:
      - codes
      - message
      - details
    DisplayName:
      description: Customizable display name
      example: My First Device
      maxLength: 128
      type: string
  responses:
    '500':
      content:
        application/json:
          examples:
            err_internal_server_error:
              summary: Internal server error
              value:
                codes:
                - err_internal_server_error
                details:
                - Something went wrong processing your request. See https://docs.slide.tech/api/#description/errors for more information.
                message: internal server error
          schema:
            $ref: '#/components/schemas/Error'
      description: Internal server error
    '401':
      content:
        application/json:
          examples:
            err_missing_authentication:
              summary: Missing API token
              value:
                codes:
                - err_missing_authentication
                details:
                - 'You did not provide an API token. You need to provide your API token in the Authorization header, using Bearer auth (e.g. ''Authorization: Bearer YOUR_SECRET_TOKEN'').'
                message: unauthorized
            err_unauthorized:
              summary: Invalid API token
              value:
                codes:
                - err_unauthorized
                details:
                - Invalid API token provided or you do not have permission to access this resource.
                message: unauthorized
          schema:
            $ref: '#/components/schemas/Error'
      description: Unauthorized
    '404':
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
      description: Not found
    '400':
      content:
        application/json:
          examples:
            err_validation_error:
              summary: Validation error
              value:
                codes:
                - err_validation_error
                details:
                - 'parameter "device_id" in path has an error: string doesn''t match the regular expression "^d_[a-z0-9]{12}$"'
                message: bad request
          schema:
            $ref: '#/components/schemas/Error'
      description: Bad request
  parameters:
    QueryCreatedAfter:
      description: Filter results to after a specific creation timestamp (RFC3339 format)
      in: query
      name: created_after
      schema:
        format: date-time
        type: string
    QueryCreatedBefore:
      description: Filter results to before a specific creation timestamp (RFC3339 format)
      in: query
      name: created_before
      schema:
        format: date-time
        type: string
    QueryOffset:
      description: Starting index for pagination
      in: query
      name: offset
      schema:
        default: 0
        format: uint32
        minimum: 0
        type: integer
    PathUserID:
      example: u_0123456789ab
      in: path
      name: user_id
      required: true
      schema:
        $ref: '#/components/schemas/UserID'
    QuerySortAsc:
      description: Sort in ascending order
      in: query
      name: sort_asc
      schema:
        default: false
        type: boolean
    QueryLimit:
      description: Number of items to return for pagination
      in: query
      name: limit
      schema:
        default: 10
        format: uint32
        maximum: 50
        minimum: 1
        type: integer
  securitySchemes:
    BearerAuth:
      bearerFormat: string
      scheme: bearer
      type: http
