openapi: 3.2.0
info:
  contact:
    email: hey@slide.tech
    name: Slide Team
    url: https://docs.slide.tech
  description: '## Introduction

    The Slide API is organized around REST.'
  title: Slide Restores (Push) API
  version: 1.34.0
servers:
- url: https://api.slide.tech
security:
- BearerAuth: []
tags:
- description: Everything about push file restores
  name: Restores (Push)
paths:
  /v1/restore/file/{file_restore_id}/push:
    get:
      operationId: FileRestorePushes
      parameters:
      - $ref: '#/components/parameters/QueryOffset'
      - $ref: '#/components/parameters/QueryLimit'
      - $ref: '#/components/parameters/PathFileRestoreID'
      - description: Sort by a specific field
        in: query
        name: sort_by
        schema:
          default: start_time
          enum:
          - start_time
          type: string
      - $ref: '#/components/parameters/QuerySortAsc'
      - description: Filter file restore pushes to before a specific start timestamp (RFC3339 format)
        in: query
        name: start_time_before
        schema:
          format: date-time
          type: string
      - description: Filter file restore pushes to after a specific start timestamp (RFC3339 format)
        in: query
        name: start_time_after
        schema:
          format: date-time
          type: string
      - description: Filter file restore pushes to before a specific end timestamp (RFC3339 format)
        in: query
        name: end_time_before
        schema:
          format: date-time
          type: string
      - description: Filter file restore pushes to after a specific end timestamp (RFC3339 format)
        in: query
        name: end_time_after
        schema:
          format: date-time
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                description: Paginated response
                properties:
                  data:
                    description: List of file restore pushes
                    items:
                      $ref: '#/components/schemas/FileRestorePush'
                    title: FileRestorePushes
                    type: array
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                required:
                - pagination
                - data
                title: Paginated response
                type: object
          description: OK
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      summary: List push operations
      tags:
      - Restores (Push)
    post:
      operationId: FileRestorePushCreate
      parameters:
      - $ref: '#/components/parameters/PathFileRestoreID'
      requestBody:
        content:
          application/json:
            examples:
              linux:
                summary: Push a file to a Linux agent
                value:
                  destination_folder: /SlideRestore
                  source_file_path: root/home/admin/important.txt
              windows:
                summary: Push a file to a Windows agent
                value:
                  destination_folder: C:\SlideRestore
                  source_file_path: C/Users/Administrator/Documents/ImportantFile.docx
            schema:
              properties:
                destination_folder:
                  $ref: '#/components/schemas/PushDestinationFolder'
                source_file_path:
                  $ref: '#/components/schemas/PushSourceFilePath'
              required:
              - source_file_path
              - destination_folder
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileRestorePush'
          description: Created
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      summary: Push a file to the protected system
      tags:
      - Restores (Push)
  /v1/restore/file/{file_restore_id}/push/{file_restore_push_id}:
    get:
      operationId: FileRestorePushStatus
      parameters:
      - $ref: '#/components/parameters/PathFileRestoreID'
      - $ref: '#/components/parameters/PathFileRestorePushID'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileRestorePush'
          description: OK
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      summary: Get Status of push operation
      tags:
      - Restores (Push)
    patch:
      operationId: FileRestorePushUpdate
      parameters:
      - $ref: '#/components/parameters/PathFileRestoreID'
      - $ref: '#/components/parameters/PathFileRestorePushID'
      requestBody:
        content:
          application/json:
            example: "{\n  \"state\": \"canceled\"\n}"
            schema:
              properties:
                state:
                  description: Current state of the push operation. Can be updated from in_progress to canceled.
                  enum:
                  - canceled
                  example: canceled
                  type: string
              required:
              - state
        required: true
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileRestorePush'
          description: Accepted
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      summary: Update a push operation
      tags:
      - Restores (Push)
components:
  responses:
    '500':
      content:
        application/json:
          examples:
            err_internal_server_error:
              summary: Internal server error
              value:
                codes:
                - err_internal_server_error
                details:
                - Something went wrong processing your request. See https://docs.slide.tech/api/#description/errors for more information.
                message: internal server error
          schema:
            $ref: '#/components/schemas/Error'
      description: Internal server error
    '401':
      content:
        application/json:
          examples:
            err_missing_authentication:
              summary: Missing API token
              value:
                codes:
                - err_missing_authentication
                details:
                - 'You did not provide an API token. You need to provide your API token in the Authorization header, using Bearer auth (e.g. ''Authorization: Bearer YOUR_SECRET_TOKEN'').'
                message: unauthorized
            err_unauthorized:
              summary: Invalid API token
              value:
                codes:
                - err_unauthorized
                details:
                - Invalid API token provided or you do not have permission to access this resource.
                message: unauthorized
          schema:
            $ref: '#/components/schemas/Error'
      description: Unauthorized
    '404':
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
      description: Not found
    '400':
      content:
        application/json:
          examples:
            err_validation_error:
              summary: Validation error
              value:
                codes:
                - err_validation_error
                details:
                - 'parameter "device_id" in path has an error: string doesn''t match the regular expression "^d_[a-z0-9]{12}$"'
                message: bad request
          schema:
            $ref: '#/components/schemas/Error'
      description: Bad request
  schemas:
    FileRestoreID:
      description: ID of a file restore
      example: fr_0123456789ab
      externalDocs:
        description: See our console documentation for more information on file restores
        url: https://docs.slide.tech/restores/#file-restore
      pattern: ^fr_[a-z0-9]{12}$
      type: string
    Pagination:
      properties:
        next_offset:
          description: Next offset to use for pagination. If this field is not present, that indicates there are no more items to fetch.
          example: 10
          format: uint32
          type: integer
      type: object
    PushDestinationFolder:
      description: 'The folder on the protected system where the pushed file is restored.

        For security reasons, restores are only permitted to a `SlideRestore` folder rooted at a known mount point on the agent:

        for Windows agents, the root of a drive (e.g. `C:\SlideRestore`); for Linux agents, an absolute path under a mounted

        volume that ends in `/SlideRestore` (e.g. `/SlideRestore` for the root mount, or `/data/SlideRestore` for a `/data` mount).

        '
      example: C:\SlideRestore
      pattern: ^([A-Z]:\\SlideRestore|(/[^/]+)*/SlideRestore)$
      type: string
    FileRestorePushID:
      description: ID of a file restore push
      example: frp_0123456789ab
      externalDocs:
        description: See our console documentation for more information on pushing files to protected systems
        url: https://docs.slide.tech/restores/#push-to-protected-system
      pattern: ^frp_[a-z0-9]{12}$
      type: string
    Error:
      description: Error response object that represents an error that occurred during a request.
      properties:
        codes:
          description: List of error codes that occurred during a request.
          items:
            description: A unique error code that identifies the error.
            title: Code
            type: string
          title: Codes
          type: array
        details:
          description: List of error details that occurred during a request. This may contain action(s) that need to be taken before retrying the request.
          items:
            description: Short detail message describing the error.
            title: Detail
            type: string
          title: Details
          type: array
        message:
          description: Short message describing the error.
          title: Message
          type: string
      required:
      - codes
      - message
      - details
    PushSourceFilePath:
      description: 'Path of the file as it appears inside the mounted file restore — not the file''s path on the protected system.

        The leading path component is the source volume''s identifier (the drive letter for Windows, e.g. `C`, or `root` for the

        root mount on Linux), followed by forward-slash-separated path components (e.g. `C/Users/Administrator/Documents/ImportantFile.docx`

        for a Windows C: drive, or `root/home/admin/important.txt` for a Linux root mount).

        '
      example: C/Users/Administrator/Documents/ImportantFile.docx
      type: string
    FileRestorePush:
      description: File restore push object that represents an attempt to restore a file to a protected system.
      properties:
        destination_folder:
          $ref: '#/components/schemas/PushDestinationFolder'
        end_time:
          description: Timestamp of when the push operation ended
          example: '2024-08-23T01:25:08Z'
          format: date-time
          type: string
        file_restore_id:
          $ref: '#/components/schemas/FileRestoreID'
        file_restore_push_id:
          $ref: '#/components/schemas/FileRestorePushID'
        size:
          description: Size of the file in bytes
          example: 21536
          type: integer
        source_file_path:
          $ref: '#/components/schemas/PushSourceFilePath'
        start_time:
          description: Timestamp of when the push operation started
          example: '2024-08-23T01:25:08Z'
          format: date-time
          type: string
        state:
          $ref: '#/components/schemas/PushState'
      required:
      - file_restore_push_id
      - file_restore_id
      - start_time
      - state
      - source_file_path
      - destination_folder
      type: object
    PushState:
      description: Current state of the push operation
      enum:
      - created
      - in_progress
      - completed
      - failed
      - canceled
      example: completed
      type: string
  parameters:
    PathFileRestoreID:
      example: fr_0123456789ab
      in: path
      name: file_restore_id
      required: true
      schema:
        $ref: '#/components/schemas/FileRestoreID'
    QueryOffset:
      description: Starting index for pagination
      in: query
      name: offset
      schema:
        default: 0
        format: uint32
        minimum: 0
        type: integer
    QuerySortAsc:
      description: Sort in ascending order
      in: query
      name: sort_asc
      schema:
        default: false
        type: boolean
    PathFileRestorePushID:
      example: frp_0123456789ab
      in: path
      name: file_restore_push_id
      required: true
      schema:
        $ref: '#/components/schemas/FileRestorePushID'
    QueryLimit:
      description: Number of items to return for pagination
      in: query
      name: limit
      schema:
        default: 10
        format: uint32
        maximum: 50
        minimum: 1
        type: integer
  securitySchemes:
    BearerAuth:
      bearerFormat: string
      scheme: bearer
      type: http
