openapi: 3.2.0
info:
  contact:
    email: hey@slide.tech
    name: Slide Team
    url: https://docs.slide.tech
  description: '## Introduction

    The Slide API is organized around REST.'
  title: Slide Accounts API
  version: 1.34.0
servers:
- url: https://api.slide.tech
security:
- BearerAuth: []
tags:
- description: Everything about accounts
  name: Accounts
paths:
  /v1/account:
    get:
      operationId: Accounts
      parameters:
      - $ref: '#/components/parameters/QueryOffset'
      - $ref: '#/components/parameters/QueryLimit'
      - description: Sort by a specific field
        in: query
        name: sort_by
        schema:
          default: name
          enum:
          - name
          type: string
      - $ref: '#/components/parameters/QuerySortAsc'
      - $ref: '#/components/parameters/QueryCreatedAfter'
      - $ref: '#/components/parameters/QueryCreatedBefore'
      responses:
        '200':
          content:
            application/json:
              schema:
                description: Paginated response
                properties:
                  data:
                    description: List of accounts
                    items:
                      $ref: '#/components/schemas/Account'
                    title: Accounts
                    type: array
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                required:
                - pagination
                - data
                title: Paginated response
                type: object
          description: OK
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      summary: List accounts
      tags:
      - Accounts
  /v1/account/{account_id}:
    get:
      operationId: AccountByID
      parameters:
      - $ref: '#/components/parameters/PathAccountID'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
          description: OK
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      summary: Get account
      tags:
      - Accounts
    patch:
      operationId: AccountUpdate
      parameters:
      - $ref: '#/components/parameters/PathAccountID'
      requestBody:
        content:
          application/json:
            example: "{\n  \"alert_emails\": \"<change me or remove the field to keep unchanged>\"\n}"
            schema:
              properties:
                alert_emails:
                  $ref: '#/components/schemas/AlertEmails'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
          description: OK
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      summary: Update account
      tags:
      - Accounts
components:
  schemas:
    PrimaryContact:
      description: Name of the primary contact
      example: John Smith
      maxLength: 128
      minLength: 1
      type: string
    Pagination:
      properties:
        next_offset:
          description: Next offset to use for pagination. If this field is not present, that indicates there are no more items to fetch.
          example: 10
          format: uint32
          type: integer
      type: object
    AlertEmails:
      description: List of email addresses to send alert emails to
      example:
      - john.doe@gmail.com
      - jane.smith@example.com
      - user123@domain.net
      items:
        format: email
        type: string
      maxItems: 10
      type: array
    Account:
      description: Account object that represents an Account
      properties:
        account_id:
          $ref: '#/components/schemas/AccountID'
        account_name:
          $ref: '#/components/schemas/AccountName'
        alert_emails:
          $ref: '#/components/schemas/AlertEmails'
        billing_address:
          $ref: '#/components/schemas/PostalAddress'
        primary_contact:
          $ref: '#/components/schemas/PrimaryContact'
        primary_email:
          $ref: '#/components/schemas/PrimaryEmail'
        primary_phone:
          $ref: '#/components/schemas/PrimaryPhone'
      required:
      - account_id
      - account_name
      - primary_contact
      - primary_email
      - primary_phone
      - billing_address
      - alert_emails
      type: object
    PrimaryPhone:
      description: Phone number of the primary contact
      example: +1 555-555-5555
      type: string
    Error:
      description: Error response object that represents an error that occurred during a request.
      properties:
        codes:
          description: List of error codes that occurred during a request.
          items:
            description: A unique error code that identifies the error.
            title: Code
            type: string
          title: Codes
          type: array
        details:
          description: List of error details that occurred during a request. This may contain action(s) that need to be taken before retrying the request.
          items:
            description: Short detail message describing the error.
            title: Detail
            type: string
          title: Details
          type: array
        message:
          description: Short message describing the error.
          title: Message
          type: string
      required:
      - codes
      - message
      - details
    AccountName:
      description: Name of the account
      example: Slide Inc.
      maxLength: 128
      minLength: 1
      type: string
    AccountID:
      description: ID of an account
      example: act_0123456789ab
      pattern: ^act_[a-z0-9]{12}$
      type: string
    PrimaryEmail:
      description: Email of the primary contact
      example: john.doe@gmail.com
      format: email
      type: string
    PostalAddress:
      description: Postal address details
      properties:
        City:
          description: City of the postal address
          example: New York
          type: string
        Country:
          description: Two-letter country code
          example: US
          type: string
        Line1:
          description: First line of the postal address
          example: 123 Main St
          type: string
        Line2:
          description: Second line of the postal address
          example: Apt 4B
          type: string
        PostalCode:
          description: Postal (ZIP) code of the postal address
          example: '10001'
          type: string
        State:
          description: State or province of the postal address
          example: NY
          type: string
      required:
      - Line1
      - City
      - State
      - PostalCode
      - Country
      type: object
  parameters:
    PathAccountID:
      example: act_0123456789ab
      in: path
      name: account_id
      required: true
      schema:
        $ref: '#/components/schemas/AccountID'
    QueryOffset:
      description: Starting index for pagination
      in: query
      name: offset
      schema:
        default: 0
        format: uint32
        minimum: 0
        type: integer
    QuerySortAsc:
      description: Sort in ascending order
      in: query
      name: sort_asc
      schema:
        default: false
        type: boolean
    QueryLimit:
      description: Number of items to return for pagination
      in: query
      name: limit
      schema:
        default: 10
        format: uint32
        maximum: 50
        minimum: 1
        type: integer
    QueryCreatedAfter:
      description: Filter results to after a specific creation timestamp (RFC3339 format)
      in: query
      name: created_after
      schema:
        format: date-time
        type: string
    QueryCreatedBefore:
      description: Filter results to before a specific creation timestamp (RFC3339 format)
      in: query
      name: created_before
      schema:
        format: date-time
        type: string
  responses:
    '500':
      content:
        application/json:
          examples:
            err_internal_server_error:
              summary: Internal server error
              value:
                codes:
                - err_internal_server_error
                details:
                - Something went wrong processing your request. See https://docs.slide.tech/api/#description/errors for more information.
                message: internal server error
          schema:
            $ref: '#/components/schemas/Error'
      description: Internal server error
    '401':
      content:
        application/json:
          examples:
            err_missing_authentication:
              summary: Missing API token
              value:
                codes:
                - err_missing_authentication
                details:
                - 'You did not provide an API token. You need to provide your API token in the Authorization header, using Bearer auth (e.g. ''Authorization: Bearer YOUR_SECRET_TOKEN'').'
                message: unauthorized
            err_unauthorized:
              summary: Invalid API token
              value:
                codes:
                - err_unauthorized
                details:
                - Invalid API token provided or you do not have permission to access this resource.
                message: unauthorized
          schema:
            $ref: '#/components/schemas/Error'
      description: Unauthorized
    '404':
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
      description: Not found
    '400':
      content:
        application/json:
          examples:
            err_validation_error:
              summary: Validation error
              value:
                codes:
                - err_validation_error
                details:
                - 'parameter "device_id" in path has an error: string doesn''t match the regular expression "^d_[a-z0-9]{12}$"'
                message: bad request
          schema:
            $ref: '#/components/schemas/Error'
      description: Bad request
  securitySchemes:
    BearerAuth:
      bearerFormat: string
      scheme: bearer
      type: http
