openapi: 3.0.0
info:
  contact:
    email: hey@slide.tech
    name: Slide Team
    url: https://docs.slide.tech
  description: "## Introduction\nThe Slide API is organized around REST. Our API has predictable resource-oriented URLs, accepts JSON-encoded request bodies, returns JSON-encoded responses, and uses standard HTTP response codes, authentication, and verbs.\n\n## Authentication\nWe use API tokens to authenticate requests. You can view and manage your API tokens in the [Slide Console](https://docs.slide.tech).\nWhen making HTTP requests, you'll need to include the API token in the `Authorization` header, using Bearer auth (e.g. `Authorization: Bearer YOUR_SECRET_TOKEN`).\n\nExample:\n```shell\n$ curl -H 'Authorization: Bearer YOUR_SECRET_TOKEN' 'https://api.slide.tech/v1/device'\n```\n\n## Pagination\nAll list endpoints support pagination. You can use the `limit` and `offset` query parameters to control the number of items returned and the starting index.\nList responses will include a `pagination` key that includes the `next_offset` to use for pagination.\nIf `next_offset` is not present, that indicates there are no more items to fetch.\n\nExample:\n```shell\n$ curl -H 'Authorization: Bearer YOUR_SECRET_TOKEN' \\\n    'https://api.slide.tech/v1/device?offset=0&limit=10'\n{\n    \"pagination\": {\n        \"next_offset\": 10\n    },\n    \"data\": [\n        ...\n    ]\n}\n```\n\n## Rate Limiting\nWe limit the number of requests you can make to the API within a certain time frame.\nEach API token has a pool of `50` requests. We refill this pool at a rate of `10` requests per second.\nIf you exceed the rate limit, you'll receive a response with a `429 Too Many Requests` HTTP code and a `err_rate_limit_exceeded` error code.\nPlease wait before retrying the request. We recommend you implement an exponential backoff strategy to handle rate limits.\n\n## Errors\nSlide uses conventional HTTP response codes to indicate the success or failure of an API request.\nIn general, codes in the 2xx range indicate success, codes in the 4xx range indicate an error that failed given the information provided (e.g., a required parameter was omitted), and codes in the 5xx range indicate an error with Slide's servers.\n\nWe also include [error codes and details](#model/error) in the response, which may provide more context about the error.\n\nExample:\n```shell\n$ curl 'https://api.slide.tech/v1/device'\n{\n    \"codes\": [\n        \"err_missing_authentication\"\n    ],\n    \"details\": [\n        ...\n    ],\n    \"message\": \"unauthorized\"\n}\n```\n\nSome common error codes are:\n\n| Code                         | Description                                                                                                                                             |\n|------------------------------|---------------------------------------------------------------------------------------------------------------------------------------------------------|\n| `err_endpoint_not_found`     | Requested endpoint does not exist.                                                                                                                      |\n| `err_entity_not_found`       | Requested entity does not exist.                                                                                                                        |\n| `err_validation_error`       | Bad request due to validation error. The error `details` will contain any fields that were not valid.                                                   |\n| `err_missing_authentication` | Unauthorized due to missing API token. See [authentication](#description/authentication) for more details.                                              |\n| `err_unauthorized`           | Unauthorized due to invalid API token. You've provided an invalid API token or the API token does not have permission to access the requested resource. |\n| `err_internal_server_error`  | Something went wrong. If you retry the request and it does not succeed, you may contact us at `hey@slide.tech`.                                         |\n| `err_rate_limit_exceeded`    | Rate limit exceeded. Please wait before retrying the request. See [rate limiting](#description/rate-limiting) for more details.                         |\n\n<details>\n  <summary>Show more error codes.</summary>\n\n| Code                                | Description                                                                                                           |\n|-------------------------------------|-----------------------------------------------------------------------------------------------------------------------|\n| `err_agent_not_connected_to_device` | Agent is not connected to the device. Ensure the agent is powered on and has network connectivity.                    |\n| `err_device_not_connected_to_cloud` | Device is not connected to the cloud. Ensure the device is powered on and has network connectivity.                   |\n| `err_backup_already_running`        | A backup is already running for this agent. Please wait for the current backup to complete before starting a new one. |\n| `err_client_not_found`              | Client not found. Ensure the client ID is valid and the client exists.                                                |\n\n</details>\n\n## Eventual Consistency\n\nSlide operates an eventual consistency model, where data may not be immediately available after an operation.\nThis is due to the distributed nature of our system and the need for replication and synchronization across multiple\nsystems. Users should expect that operations may take a short period of time to propagate and become visible to all\ncomponents of the system.\n\n## Deprecations and Breaking Changes\n\n### Active Deprecations\n\n`Device.ip_addresses` and `Agent.ip_addresses` will be removed. They have been replaced by `Device.addresses` and `Agent.addresses` respectively.\n"
  title: Slide Accounts Audits API
  version: 1.34.0
servers:
- url: https://api.slide.tech
security:
- BearerAuth: []
tags:
- name: Audits
paths:
  /v1/audit:
    get:
      operationId: Audits
      parameters:
      - $ref: '#/components/parameters/QueryOffset'
      - $ref: '#/components/parameters/QueryLimit'
      - $ref: '#/components/parameters/QueryAuditActionName'
      - $ref: '#/components/parameters/QueryAuditResourceTypeName'
      - description: Sort by a specific field
        in: query
        name: sort_by
        schema:
          default: audit_time
          enum:
          - audit_time
          type: string
      - $ref: '#/components/parameters/QuerySortAsc'
      - description: Filter audit logs to before a specific audit timestamp (RFC3339 format)
        in: query
        name: audit_time_before
        schema:
          format: date-time
          type: string
      - description: Filter audit logs to after a specific audit timestamp (RFC3339 format)
        in: query
        name: audit_time_after
        schema:
          format: date-time
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                description: Paginated response
                properties:
                  data:
                    description: List of audit logs
                    items:
                      $ref: '#/components/schemas/Audit'
                    title: Audits
                    type: array
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                required:
                - pagination
                - data
                title: Paginated response
                type: object
          description: OK
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      summary: List audit logs
      tags:
      - Audits
  /v1/audit/action:
    get:
      operationId: AuditActions
      parameters:
      - $ref: '#/components/parameters/QueryOffset'
      - $ref: '#/components/parameters/QueryLimit'
      - description: Sort by a specific field
        in: query
        name: sort_by
        schema:
          default: name
          enum:
          - name
          type: string
      - $ref: '#/components/parameters/QuerySortAsc'
      responses:
        '200':
          content:
            application/json:
              schema:
                description: Paginated response
                properties:
                  data:
                    description: List of audit actions
                    items:
                      $ref: '#/components/schemas/AuditAction'
                    title: Audit Actions
                    type: array
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                required:
                - pagination
                - data
                title: Paginated response
                type: object
          description: OK
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      summary: List audit actions
      tags:
      - Audits
  /v1/audit/resource:
    get:
      operationId: AuditResources
      parameters:
      - $ref: '#/components/parameters/QueryOffset'
      - $ref: '#/components/parameters/QueryLimit'
      - description: Sort by a specific field
        in: query
        name: sort_by
        schema:
          default: name
          enum:
          - name
          type: string
      - $ref: '#/components/parameters/QuerySortAsc'
      responses:
        '200':
          content:
            application/json:
              schema:
                description: Paginated response
                properties:
                  data:
                    description: List of audit resource types
                    items:
                      $ref: '#/components/schemas/AuditResourceType'
                    title: Audit Resource Types
                    type: array
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                required:
                - pagination
                - data
                title: Paginated response
                type: object
          description: OK
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      summary: List audit resource types
      tags:
      - Audits
  /v1/audit/{audit_id}:
    get:
      operationId: AuditByID
      parameters:
      - $ref: '#/components/parameters/PathAuditID'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Audit'
          description: OK
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      summary: Get audit log
      tags:
      - Audits
components:
  parameters:
    PathAuditID:
      example: aud_0123456789ab
      in: path
      name: audit_id
      required: true
      schema:
        $ref: '#/components/schemas/AuditID'
    QuerySortAsc:
      description: Sort in ascending order
      in: query
      name: sort_asc
      schema:
        default: false
        type: boolean
    QueryAuditActionName:
      in: query
      name: audit_action_name
      schema:
        $ref: '#/components/schemas/AuditActionName'
    QueryAuditResourceTypeName:
      in: query
      name: audit_resource_type_name
      schema:
        $ref: '#/components/schemas/AuditResourceTypeName'
    QueryOffset:
      description: Starting index for pagination
      in: query
      name: offset
      schema:
        default: 0
        format: uint32
        minimum: 0
        type: integer
    QueryLimit:
      description: Number of items to return for pagination
      in: query
      name: limit
      schema:
        default: 10
        format: uint32
        maximum: 50
        minimum: 1
        type: integer
  responses:
    '400':
      content:
        application/json:
          examples:
            err_validation_error:
              summary: Validation error
              value:
                codes:
                - err_validation_error
                details:
                - 'parameter "device_id" in path has an error: string doesn''t match the regular expression "^d_[a-z0-9]{12}$"'
                message: bad request
          schema:
            $ref: '#/components/schemas/Error'
      description: Bad request
    '401':
      content:
        application/json:
          examples:
            err_missing_authentication:
              summary: Missing API token
              value:
                codes:
                - err_missing_authentication
                details:
                - 'You did not provide an API token. You need to provide your API token in the Authorization header, using Bearer auth (e.g. ''Authorization: Bearer YOUR_SECRET_TOKEN'').'
                message: unauthorized
            err_unauthorized:
              summary: Invalid API token
              value:
                codes:
                - err_unauthorized
                details:
                - Invalid API token provided or you do not have permission to access this resource.
                message: unauthorized
          schema:
            $ref: '#/components/schemas/Error'
      description: Unauthorized
    '500':
      content:
        application/json:
          examples:
            err_internal_server_error:
              summary: Internal server error
              value:
                codes:
                - err_internal_server_error
                details:
                - Something went wrong processing your request. See https://docs.slide.tech/api/#description/errors for more information.
                message: internal server error
          schema:
            $ref: '#/components/schemas/Error'
      description: Internal server error
    '404':
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
      description: Not found
  schemas:
    AuditID:
      description: ID of an audit log
      example: aud_0123456789ab
      pattern: ^aud_[a-z0-9]{12}$
      type: string
    UserIDOrEmpty:
      description: ID of a user or an empty string
      example: u_0123456789ab
      pattern: ^u_[a-z0-9]{12}$
      type: string
    AuditResourceType:
      description: Audit resource type object to represent an audit resource type.
      properties:
        name:
          description: Name of the audit resource type
          example: user
          type: string
      required:
      - name
      type: object
    AuditActionName:
      description: Audit action
      example: user_created
      type: string
    ClientIDOrEmpty:
      description: ID of a client or an empty string
      example: c_0123456789ab
      pattern: ^(c_[a-z0-9]{12}|)$
      type: string
    Error:
      description: Error response object that represents an error that occurred during a request.
      properties:
        codes:
          description: List of error codes that occurred during a request.
          items:
            description: A unique error code that identifies the error.
            title: Code
            type: string
          title: Codes
          type: array
        details:
          description: List of error details that occurred during a request. This may contain action(s) that need to be taken before retrying the request.
          items:
            description: Short detail message describing the error.
            title: Detail
            type: string
          title: Details
          type: array
        message:
          description: Short message describing the error.
          title: Message
          type: string
      required:
      - codes
      - message
      - details
    AuditResourceTypeName:
      description: Audit resource type
      type: string
    AccountID:
      description: ID of an account
      example: act_0123456789ab
      pattern: ^act_[a-z0-9]{12}$
      type: string
    AuditAction:
      description: Audit action object to represent an audit action.
      properties:
        description:
          description: Description of the audit action
          example: User created
          type: string
        name:
          description: Name of the audit action
          example: user_created
          type: string
      required:
      - name
      - description
      type: object
    Audit:
      description: Audit object that represents an audit log.
      properties:
        account_id:
          $ref: '#/components/schemas/AccountID'
        action:
          description: Action that was performed on the resource
          example: user_created
          type: string
        action_fields_json:
          description: Unstructured fields specific to the action
          example: '{"user_id":"user_123"}'
          type: string
        audit_id:
          $ref: '#/components/schemas/AuditID'
        audit_time:
          description: Time of the audit log
          example: '2021-01-01T00:00:00Z'
          format: date-time
          type: string
        client_id:
          $ref: '#/components/schemas/ClientIDOrEmpty'
        description:
          description: Description of the audit log
          example: User created
          type: string
        resource_id:
          description: ID of the resource that was audited
          example: u_0123456789ab
          type: string
        resource_type:
          description: Type of the resource that was audited
          example: user
          type: string
        source:
          description: Source of the audit log
          example: api
          type: string
        system:
          description: Whether the audit log was created by the system or a user
          example: true
          type: boolean
        user_id:
          $ref: '#/components/schemas/UserIDOrEmpty'
      required:
      - audit_id
      - audit_time
      - account_id
      - client_id
      - user_id
      - system
      - source
      - resource_type
      - resource_id
      - action
      - action_fields_json
      - description
      type: object
    Pagination:
      properties:
        next_offset:
          description: Next offset to use for pagination. If this field is not present, that indicates there are no more items to fetch.
          example: 10
          format: uint32
          type: integer
      type: object
  securitySchemes:
    BearerAuth:
      bearerFormat: string
      scheme: bearer
      type: http
