openapi: 3.2.0
info:
  contact:
    email: hey@slide.tech
    name: Slide Team
    url: https://docs.slide.tech
  description: '## Introduction

    The Slide API is organized around REST.'
  title: Slide Audits API
  version: 1.34.0
servers:
- url: https://api.slide.tech
security:
- BearerAuth: []
tags:
- name: Audits
paths:
  /v1/audit:
    get:
      operationId: Audits
      parameters:
      - $ref: '#/components/parameters/QueryOffset'
      - $ref: '#/components/parameters/QueryLimit'
      - $ref: '#/components/parameters/QueryAuditActionName'
      - $ref: '#/components/parameters/QueryAuditResourceTypeName'
      - description: Sort by a specific field
        in: query
        name: sort_by
        schema:
          default: audit_time
          enum:
          - audit_time
          type: string
      - $ref: '#/components/parameters/QuerySortAsc'
      - description: Filter audit logs to before a specific audit timestamp (RFC3339 format)
        in: query
        name: audit_time_before
        schema:
          format: date-time
          type: string
      - description: Filter audit logs to after a specific audit timestamp (RFC3339 format)
        in: query
        name: audit_time_after
        schema:
          format: date-time
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                description: Paginated response
                properties:
                  data:
                    description: List of audit logs
                    items:
                      $ref: '#/components/schemas/Audit'
                    title: Audits
                    type: array
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                required:
                - pagination
                - data
                title: Paginated response
                type: object
          description: OK
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      summary: List audit logs
      tags:
      - Audits
  /v1/audit/action:
    get:
      operationId: AuditActions
      parameters:
      - $ref: '#/components/parameters/QueryOffset'
      - $ref: '#/components/parameters/QueryLimit'
      - description: Sort by a specific field
        in: query
        name: sort_by
        schema:
          default: name
          enum:
          - name
          type: string
      - $ref: '#/components/parameters/QuerySortAsc'
      responses:
        '200':
          content:
            application/json:
              schema:
                description: Paginated response
                properties:
                  data:
                    description: List of audit actions
                    items:
                      $ref: '#/components/schemas/AuditAction'
                    title: Audit Actions
                    type: array
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                required:
                - pagination
                - data
                title: Paginated response
                type: object
          description: OK
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      summary: List audit actions
      tags:
      - Audits
  /v1/audit/resource:
    get:
      operationId: AuditResources
      parameters:
      - $ref: '#/components/parameters/QueryOffset'
      - $ref: '#/components/parameters/QueryLimit'
      - description: Sort by a specific field
        in: query
        name: sort_by
        schema:
          default: name
          enum:
          - name
          type: string
      - $ref: '#/components/parameters/QuerySortAsc'
      responses:
        '200':
          content:
            application/json:
              schema:
                description: Paginated response
                properties:
                  data:
                    description: List of audit resource types
                    items:
                      $ref: '#/components/schemas/AuditResourceType'
                    title: Audit Resource Types
                    type: array
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                required:
                - pagination
                - data
                title: Paginated response
                type: object
          description: OK
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      summary: List audit resource types
      tags:
      - Audits
  /v1/audit/{audit_id}:
    get:
      operationId: AuditByID
      parameters:
      - $ref: '#/components/parameters/PathAuditID'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Audit'
          description: OK
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      summary: Get audit log
      tags:
      - Audits
components:
  schemas:
    UserIDOrEmpty:
      description: ID of a user or an empty string
      example: u_0123456789ab
      pattern: ^u_[a-z0-9]{12}$
      type: string
    AuditResourceTypeName:
      description: Audit resource type
      type: string
    AuditAction:
      description: Audit action object to represent an audit action.
      properties:
        description:
          description: Description of the audit action
          example: User created
          type: string
        name:
          description: Name of the audit action
          example: user_created
          type: string
      required:
      - name
      - description
      type: object
    AuditResourceType:
      description: Audit resource type object to represent an audit resource type.
      properties:
        name:
          description: Name of the audit resource type
          example: user
          type: string
      required:
      - name
      type: object
    Pagination:
      properties:
        next_offset:
          description: Next offset to use for pagination. If this field is not present, that indicates there are no more items to fetch.
          example: 10
          format: uint32
          type: integer
      type: object
    ClientIDOrEmpty:
      description: ID of a client or an empty string
      example: c_0123456789ab
      pattern: ^(c_[a-z0-9]{12}|)$
      type: string
    AuditActionName:
      description: Audit action
      example: user_created
      type: string
    AuditID:
      description: ID of an audit log
      example: aud_0123456789ab
      pattern: ^aud_[a-z0-9]{12}$
      type: string
    Error:
      description: Error response object that represents an error that occurred during a request.
      properties:
        codes:
          description: List of error codes that occurred during a request.
          items:
            description: A unique error code that identifies the error.
            title: Code
            type: string
          title: Codes
          type: array
        details:
          description: List of error details that occurred during a request. This may contain action(s) that need to be taken before retrying the request.
          items:
            description: Short detail message describing the error.
            title: Detail
            type: string
          title: Details
          type: array
        message:
          description: Short message describing the error.
          title: Message
          type: string
      required:
      - codes
      - message
      - details
    AccountID:
      description: ID of an account
      example: act_0123456789ab
      pattern: ^act_[a-z0-9]{12}$
      type: string
    Audit:
      description: Audit object that represents an audit log.
      properties:
        account_id:
          $ref: '#/components/schemas/AccountID'
        action:
          description: Action that was performed on the resource
          example: user_created
          type: string
        action_fields_json:
          description: Unstructured fields specific to the action
          example: '{"user_id":"user_123"}'
          type: string
        audit_id:
          $ref: '#/components/schemas/AuditID'
        audit_time:
          description: Time of the audit log
          example: '2021-01-01T00:00:00Z'
          format: date-time
          type: string
        client_id:
          $ref: '#/components/schemas/ClientIDOrEmpty'
        description:
          description: Description of the audit log
          example: User created
          type: string
        resource_id:
          description: ID of the resource that was audited
          example: u_0123456789ab
          type: string
        resource_type:
          description: Type of the resource that was audited
          example: user
          type: string
        source:
          description: Source of the audit log
          example: api
          type: string
        system:
          description: Whether the audit log was created by the system or a user
          example: true
          type: boolean
        user_id:
          $ref: '#/components/schemas/UserIDOrEmpty'
      required:
      - audit_id
      - audit_time
      - account_id
      - client_id
      - user_id
      - system
      - source
      - resource_type
      - resource_id
      - action
      - action_fields_json
      - description
      type: object
  responses:
    '500':
      content:
        application/json:
          examples:
            err_internal_server_error:
              summary: Internal server error
              value:
                codes:
                - err_internal_server_error
                details:
                - Something went wrong processing your request. See https://docs.slide.tech/api/#description/errors for more information.
                message: internal server error
          schema:
            $ref: '#/components/schemas/Error'
      description: Internal server error
    '401':
      content:
        application/json:
          examples:
            err_missing_authentication:
              summary: Missing API token
              value:
                codes:
                - err_missing_authentication
                details:
                - 'You did not provide an API token. You need to provide your API token in the Authorization header, using Bearer auth (e.g. ''Authorization: Bearer YOUR_SECRET_TOKEN'').'
                message: unauthorized
            err_unauthorized:
              summary: Invalid API token
              value:
                codes:
                - err_unauthorized
                details:
                - Invalid API token provided or you do not have permission to access this resource.
                message: unauthorized
          schema:
            $ref: '#/components/schemas/Error'
      description: Unauthorized
    '404':
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
      description: Not found
    '400':
      content:
        application/json:
          examples:
            err_validation_error:
              summary: Validation error
              value:
                codes:
                - err_validation_error
                details:
                - 'parameter "device_id" in path has an error: string doesn''t match the regular expression "^d_[a-z0-9]{12}$"'
                message: bad request
          schema:
            $ref: '#/components/schemas/Error'
      description: Bad request
  parameters:
    QueryAuditResourceTypeName:
      in: query
      name: audit_resource_type_name
      schema:
        $ref: '#/components/schemas/AuditResourceTypeName'
    QueryAuditActionName:
      in: query
      name: audit_action_name
      schema:
        $ref: '#/components/schemas/AuditActionName'
    QueryOffset:
      description: Starting index for pagination
      in: query
      name: offset
      schema:
        default: 0
        format: uint32
        minimum: 0
        type: integer
    QuerySortAsc:
      description: Sort in ascending order
      in: query
      name: sort_asc
      schema:
        default: false
        type: boolean
    PathAuditID:
      example: aud_0123456789ab
      in: path
      name: audit_id
      required: true
      schema:
        $ref: '#/components/schemas/AuditID'
    QueryLimit:
      description: Number of items to return for pagination
      in: query
      name: limit
      schema:
        default: 10
        format: uint32
        maximum: 50
        minimum: 1
        type: integer
  securitySchemes:
    BearerAuth:
      bearerFormat: string
      scheme: bearer
      type: http
