openapi: 3.2.0
info:
  contact:
    email: hey@slide.tech
    name: Slide Team
    url: https://docs.slide.tech
  description: '## Introduction

    The Slide API is organized around REST.'
  title: Slide Snapshots API
  version: 1.34.0
servers:
- url: https://api.slide.tech
security:
- BearerAuth: []
tags:
- description: Everything about snapshots
  name: Snapshots
paths:
  /v1/snapshot:
    get:
      operationId: Snapshots
      parameters:
      - $ref: '#/components/parameters/QueryAgentID'
      - $ref: '#/components/parameters/QueryOffset'
      - $ref: '#/components/parameters/QueryLimit'
      - $ref: '#/components/parameters/QuerySnapshotLocation'
      - $ref: '#/components/parameters/QueryBackupStartedAfter'
      - $ref: '#/components/parameters/QueryBackupStartedBefore'
      - $ref: '#/components/parameters/QueryBackupEndedAfter'
      - $ref: '#/components/parameters/QueryBackupEndedBefore'
      - description: Sort by a specific field
        in: query
        name: sort_by
        schema:
          default: created
          enum:
          - backup_start_time
          - backup_end_time
          - created
          type: string
      - $ref: '#/components/parameters/QuerySortAsc'
      responses:
        '200':
          content:
            application/json:
              schema:
                description: Paginated response
                properties:
                  data:
                    description: List of snapshots
                    items:
                      $ref: '#/components/schemas/Snapshot'
                    title: Snapshots
                    type: array
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                required:
                - pagination
                - data
                title: Paginated response
                type: object
          description: OK
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '500':
          $ref: '#/components/responses/500'
      summary: List snapshots
      tags:
      - Snapshots
  /v1/snapshot/{snapshot_id}:
    get:
      operationId: SnapshotByID
      parameters:
      - $ref: '#/components/parameters/PathSnapshotID'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Snapshot'
          description: OK
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      summary: Get snapshot
      tags:
      - Snapshots
  /v1/snapshot/{snapshot_id}/service-verification:
    get:
      operationId: SnapshotServiceVerification
      parameters:
      - $ref: '#/components/parameters/PathSnapshotID'
      responses:
        '200':
          content:
            application/json:
              schema:
                description: Service verification results for a snapshot
                properties:
                  services:
                    description: Per-service verification results.
                    items:
                      $ref: '#/components/schemas/ServiceVerificationResult'
                    type: array
                  status:
                    description: Overall service verification status.
                    example: success
                    type: string
                required:
                - status
                - services
                title: Snapshot service verification response
                type: object
          description: OK
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      summary: Get service verification results for a snapshot
      tags:
      - Snapshots
components:
  schemas:
    ServiceVerificationResult:
      description: Result of verifying a single service during boot verification.
      properties:
        name:
          description: Internal name of the Windows service.
          example: wuauserv
          type: string
        service_id:
          description: Unique identifier of the service.
          example: svc_abc123
          type: string
        state:
          description: State of the service at verification time.
          example: Running
          type: string
      required:
      - service_id
      - name
      - state
      type: object
    Pagination:
      properties:
        next_offset:
          description: Next offset to use for pagination. If this field is not present, that indicates there are no more items to fetch.
          example: 10
          format: uint32
          type: integer
      type: object
    Deletions:
      description: List of deletion details
      items:
        $ref: '#/components/schemas/Deletion'
      type: array
    Snapshot:
      description: Snapshot object that represents a snapshot that was taken as part of a successful backup.
      properties:
        agent_id:
          $ref: '#/components/schemas/AgentID'
        backup_ended_at:
          description: End time of the backup that created the snapshot
          example: '2024-08-23T01:40:08Z'
          format: date-time
          type: string
        backup_started_at:
          description: Start time of the backup that created the snapshot
          example: '2024-08-23T01:25:08Z'
          format: date-time
          type: string
        deleted:
          description: Timestamp when the snapshot was deleted. If this field is not present, the snapshot has not been deleted.
          example: '2024-08-23T01:25:08Z'
          format: date-time
          type: string
        deletions:
          $ref: '#/components/schemas/Deletions'
        locations:
          description: Location(s) of the snapshot. It will always exist in at least 1 location.
          items:
            $ref: '#/components/schemas/Location'
          type: array
        snapshot_id:
          $ref: '#/components/schemas/SnapshotID'
        verify_boot_duration_seconds:
          description: Duration of the boot verification in seconds, measured from VM power-on to the moment a successful boot was determined. Only present when verify_boot_status is success.
          example: 95
          format: uint64
          type: integer
        verify_boot_screenshot_url:
          description: URL to the screenshot of the boot verification. If this field is not present, that indicates a screenshot was not taken.
          format: uri
          type: string
        verify_boot_status:
          description: Status of boot verification. If this field is not present, that indicates boot verification is pending.
          enum:
          - success
          - warning
          - error
          - skipped
          - pending
          - pending_due_to_disaster_vm
          example: success
          type: string
        verify_fs_status:
          description: Status of filesystem verification. If this field is not present, that indicates filesystem verification is pending.
          enum:
          - success
          - warning
          - error
          - skipped
          example: success
          type: string
        verify_service_status:
          description: Status of service verification. If this field is not present, that indicates service verification is pending.
          enum:
          - success
          - error
          - skipped
          - stopped
          example: success
          type: string
      required:
      - snapshot_id
      - agent_id
      - locations
      - backup_started_at
      - backup_ended_at
      type: object
    SnapshotID:
      description: ID of a snapshot
      example: s_0123456789ab
      pattern: ^s_[a-z0-9]{12}$
      type: string
    SnapshotDeletedBy:
      description: Name of the person or system that deleted the snapshot
      example:
        example1:
          value: John Smith
        example2:
          value: Retention
      type: string
    LocationType:
      description: Type of the location
      enum:
      - local
      - cloud
      type: string
    SnapshotLocation:
      description: 'Filter snapshots by location or deleted status.


        **Enum Values:**

        - `exists_local`: Snapshots that exist on the local device storage

        - `exists_cloud`: Snapshots that exist in cloud storage

        - `exists_deleted`: Any deleted snapshots (includes all deletion types)

        - `exists_deleted_retention`: Snapshots deleted by retention policy

        - `exists_deleted_manual`: Snapshots manually deleted by users

        - `exists_deleted_other`: Snapshots deleted by other processes/systems

        - `location_any`: Snapshots in any location (local, cloud, including deleted)

        - If you do not specify a location, the default is local and cloud not including deleted.

        '
      enum:
      - exists_local
      - exists_cloud
      - exists_deleted
      - exists_deleted_retention
      - exists_deleted_manual
      - exists_deleted_other
      - location_any
      type: string
    Error:
      description: Error response object that represents an error that occurred during a request.
      properties:
        codes:
          description: List of error codes that occurred during a request.
          items:
            description: A unique error code that identifies the error.
            title: Code
            type: string
          title: Codes
          type: array
        details:
          description: List of error details that occurred during a request. This may contain action(s) that need to be taken before retrying the request.
          items:
            description: Short detail message describing the error.
            title: Detail
            type: string
          title: Details
          type: array
        message:
          description: Short message describing the error.
          title: Message
          type: string
      required:
      - codes
      - message
      - details
    DeviceID:
      description: ID of a device
      example: d_0123456789ab
      pattern: ^d_[a-z0-9]{12}$
      type: string
    FirstAndLastName:
      description: First and last name of a user
      example: John Smith
      maxLength: 128
      minLength: 1
      type: string
    AgentID:
      description: ID of an agent
      example: a_0123456789ab
      pattern: ^a_[a-z0-9]{12}$
      type: string
    Location:
      description: Location object that represents a location where a snapshot is stored. This may be on the local device or in the cloud.
      properties:
        device_id:
          $ref: '#/components/schemas/DeviceID'
        type:
          description: Type of the location
          enum:
          - local
          - cloud
          type: string
      required:
      - type
      - device_id
      title: Location
      type: object
    Deletion:
      description: Deletion details
      properties:
        deleted:
          description: Timestamp when the deletion occurred
          example: '2024-08-23T01:25:08Z'
          format: date-time
          type: string
        deleted_by:
          $ref: '#/components/schemas/SnapshotDeletedBy'
        first_and_last_name:
          $ref: '#/components/schemas/FirstAndLastName'
        type:
          $ref: '#/components/schemas/LocationType'
      required:
      - type
      - deleted
      - deleted_by
      type: object
  parameters:
    QueryBackupEndedBefore:
      description: Filter snapshots completed before a specific backup end time (RFC3339 format)
      in: query
      name: backup_ended_before
      schema:
        format: date-time
        type: string
    QueryBackupStartedAfter:
      description: Filter snapshots created after a specific backup start time (RFC3339 format)
      in: query
      name: backup_started_after
      schema:
        format: date-time
        type: string
    QueryOffset:
      description: Starting index for pagination
      in: query
      name: offset
      schema:
        default: 0
        format: uint32
        minimum: 0
        type: integer
    QuerySnapshotLocation:
      description: Location of the snapshot, or if snapshot deleted state
      in: query
      name: snapshot_location
      schema:
        $ref: '#/components/schemas/SnapshotLocation'
    QuerySortAsc:
      description: Sort in ascending order
      in: query
      name: sort_asc
      schema:
        default: false
        type: boolean
    QueryBackupEndedAfter:
      description: Filter snapshots completed after a specific backup end time (RFC3339 format)
      in: query
      name: backup_ended_after
      schema:
        format: date-time
        type: string
    QueryLimit:
      description: Number of items to return for pagination
      in: query
      name: limit
      schema:
        default: 10
        format: uint32
        maximum: 50
        minimum: 1
        type: integer
    QueryBackupStartedBefore:
      description: Filter snapshots created before a specific backup start time (RFC3339 format)
      in: query
      name: backup_started_before
      schema:
        format: date-time
        type: string
    PathSnapshotID:
      example: s_0123456789ab
      in: path
      name: snapshot_id
      required: true
      schema:
        $ref: '#/components/schemas/SnapshotID'
    QueryAgentID:
      in: query
      name: agent_id
      schema:
        $ref: '#/components/schemas/AgentID'
  responses:
    '500':
      content:
        application/json:
          examples:
            err_internal_server_error:
              summary: Internal server error
              value:
                codes:
                - err_internal_server_error
                details:
                - Something went wrong processing your request. See https://docs.slide.tech/api/#description/errors for more information.
                message: internal server error
          schema:
            $ref: '#/components/schemas/Error'
      description: Internal server error
    '401':
      content:
        application/json:
          examples:
            err_missing_authentication:
              summary: Missing API token
              value:
                codes:
                - err_missing_authentication
                details:
                - 'You did not provide an API token. You need to provide your API token in the Authorization header, using Bearer auth (e.g. ''Authorization: Bearer YOUR_SECRET_TOKEN'').'
                message: unauthorized
            err_unauthorized:
              summary: Invalid API token
              value:
                codes:
                - err_unauthorized
                details:
                - Invalid API token provided or you do not have permission to access this resource.
                message: unauthorized
          schema:
            $ref: '#/components/schemas/Error'
      description: Unauthorized
    '404':
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
      description: Not found
    '400':
      content:
        application/json:
          examples:
            err_validation_error:
              summary: Validation error
              value:
                codes:
                - err_validation_error
                details:
                - 'parameter "device_id" in path has an error: string doesn''t match the regular expression "^d_[a-z0-9]{12}$"'
                message: bad request
          schema:
            $ref: '#/components/schemas/Error'
      description: Bad request
  securitySchemes:
    BearerAuth:
      bearerFormat: string
      scheme: bearer
      type: http
